<div id="container">
  <h1 id="title">Tic-tac-toe Game</h1>
  <button id="1" (click)="setPlayerSymbol($event)">-</button>
  <button id="2" (click)="setPlayerSymbol($event)">-</button>
  <button id="3" (click)="setPlayerSymbol($event)">-</button>
  <br>
  <button id="4" (click)="setPlayerSymbol($event)">-</button>
  <button id="5" (click)="setPlayerSymbol($event)">-</button>
  <button id="6" (click)="setPlayerSymbol($event)">-</button>
  <br>
  <button id="7" (click)="setPlayerSymbol($event)">-</button>
  <button id="8" (click)="setPlayerSymbol($event)">-</button>
  <button id="9" (click)="setPlayerSymbol($event)">-</button>
</div>
